# Normalize line endings to LF for scripts to avoid /etc/rc.common load failures
*.sh text eol=lf
root/etc/init.d/* text eol=lf
htdocs/luci-static/resources/view/*.js text eol=lf
*.lua text eol=lf
*.toml text eol=lf
